    .about-container {
        max-width: 800px;
        margin: 40px auto;
        padding: 20px;
        background: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(16, 14, 14, 0.1);
        text-align: center;
    }
    
    .about-container h1 {
        color: #0e0c0c;
        font-size: 2rem;
    }
    
    .about-container h2 {
        color: #040303;
        font-size: 1.5rem;
        margin-top: 20px;
    }
    
    .about-container p {
        font-size: 1.1rem;
        color: #151313;
        line-height: 1.6;
    }
    
    .about-container ul, .about-container ol {
        text-align: left;
        margin: 20px 0;
        padding-left: 20px;
    }
    
    .about-container li {
        font-size: 1rem;
        color: #131010;
        margin: 10px 0;
    }
    
    .about-container strong {
        color: #222;
    }
    
    @media (max-width: 600px) {
        .about-container {
        width: 90%;
        padding: 15px;
        }
    
        .about-container h1 {
        font-size: 1.8rem;
        }
    
        .about-container h2 {
        font-size: 1.3rem;
        }
    }