html, body {
        height: 100%;
        margin: 0;
        padding-bottom: 60px;
    }
    
    
    .footer {
        position: fixed;  
        bottom: 0;         
        left: 0;           
        width: 100%;      
        background: #333;  
        color: white;      
        text-align: center;
        padding: 10px 0;
        z-index: 1000;     
        background: linear-gradient(to right, #7ab2ce, #ff7eb3, #70e1f5);
    }

    /* Mobile Responsiveness */
    @media (max-width: 768px) {
        .footer {
            padding: 8px 0;
            font-size: 12px;
        }
    }

    @media (max-width: 480px) {
        .footer {
            padding: 6px 0;
            font-size: 10px;
            position: fixed;
            bottom: 0;
        }
        
        html, body {
            padding-bottom: 50px;
        }
    }